
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{
	text-decoration: none;
	color: inherit;
}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
	font-family: roboto, sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 24px;

	color: #1D1D1D;
}
h1{
	font-size: 22px;
	font-weight: 500;
	line-height: 34px;

	margin-bottom: 8px;
}
header{
    width: 100%;
    height: 72px;
    box-shadow: 0 1px 15px rgba(122, 122, 122, 20%);
    margin-bottom: 32px;
	
}
#head{
	height: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
.auth{
    width: 78px;
    height: 40px;
    border: 1px solid #E0E0E0;
    background-color: #FFF;
    border-radius: 3px;

	font-size: 13px;
	font-weight: 600;
	
}
#basket{
	margin: 8px 27px;
}
.search{
	width: 100%;
	height: 48px;
	border-bottom: 1px solid #E0E0E0;
	margin-bottom: 55px;
	padding-top: 20px;
	padding-left: 1px;

	font-size: 16px;
	
}
.search::placeholder{
	color: #626262;
	font-size: 16px;

	/* opacity - непрозрачность. Нужна для анимации исчезания placeholder'a. */
	opacity: 1;
	transition: opacity 0.3s ease;
}
.search:focus::placeholder{
	/* При щелчке на input.search placeholder исчезнет */
	opacity: 0;
	transition: opacity 0.3s ease;
}


/* Стили карточек */
.card{
	background-color: #FFF;
	margin: 8px 0;
}
.card:hover{
	background-color: rgb(117,117,117, 20%);
}
.card > img{
	width: 100%;
}
.cafe_name{
	margin-top: 16px;
	line-height: 24px;
}
.price_kitchen{
	color: #626262;
	margin: 4px 0 4px 0;
	font-size: 14px;
	line-height: 21px;
}
.minuts{
	padding-bottom: 20px;
	font-size: 13px;
	line-height: 21px;
}
footer{
	width: 100%;
	background-color: #262626;
	color: #FFF;
	padding-top: 56px;
}
footer a{
	display: block;
	margin-bottom: 23px;
}
#footer-logo{
	margin-bottom: 40px;
}
.separator{
	width: 100%;
	height: 1px;
	background-color: #ffffff;
}
#first-separ{
	margin-bottom: 32px;
}
#second-separ{
	margin-top: 25px;
	margin-bottom: 40px;
}
#third-separ{
	margin-top: 40px;
	margin-bottom: 40px;
}
.language{
	max-width: 225px;
	height: 40px;
	background-color: #3B3B3B;
}
.green{
	color: #49A144;
}
.socials{
	margin-top: 33px;
}
.socials > a{
	display: inline-block;
	margin: 17px 0 0 0;
}
#facebook{
	margin-right: 12px;
}
#twitter{
	margin-right: 8px;
}
.download{
	width: fit-content;
	margin: 0 auto;
}
.download a{
	display: inline-block;
	margin-bottom: 0;
}
#app-store{
	margin-right: 40px;
}